<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/bootstrap.css" rel="stylesheet"/>
    <link href="css/app.css" rel="stylesheet"/>
    <title>Wellness assessment</title>
</head>

<body ng-app="Wellness-health-app" ng-controller="AppCtrl">
<div>
    <div class="container" style="margin-top: 20px;">

        <!--<div class="col-md-6 col-md-offset-4">-->
            <!--<h3>Wellness Assessment</h3>-->
        <!--</div>-->
        <!-- Login panel -->
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default" ng-show="!user">
                <div class="panel-heading">Login</div>
                <div class="panel-body">
                    <form ng-submit="login()">
                        <div class="form-group">
                            <label for="username">Username:</label> <input type="txt"
                                                                           class="form-control" ng-model="username"
                                                                           id="username">
                        </div>
                        <div class="form-group">
                            <label for="pwd">Password:</label> <input type="password"
                                                                      class="form-control" id="pwd"
                                                                      ng-model="password">
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>

                        <div class="alert alert-info margin-top-5" ng-show="message">{{message}}</div>
                    </form>
                </div>
            </div>
        </div>
        <!-- End Login panel -->
    </div>

    <!-- Home panel. It will be visible after successful login -->
    <div class="generic-container col-md-4 col-md-offset-4" ng-show="user">
        <div class="panel panel-default" ng-init="capture = false;">
            <div class="panel-heading">Welcome {{user.name}}
                <a href="#" class="btn btn-default margin-right-2 pull-right" ng-click="logout()"> Logout </a>
            </div>
            <div class="panel-body">
                <!--View High Risk patients button-->
                <a href="#" class="btn btn-success btn-lg btn-block" role="button" ng-show="username === 'admin';"
                   ng-click="getHighRiskIndividuals(); capture = false;">
                    <span></span> <br/>View High Risk Individuals</a>
                <br/>
                <!--Capture patients results-->
                <a href="#" class="btn btn-success btn-lg btn-block" role="button"
                   ng-click="capture = true; highRisk = false; successMessage = ''; errorMessage = ''; patient = {};">
                    <span></span> <br/>Capture Results</a>
            </div>
        </div>
    </div>
    <!-- End Home Panel -->

    <!-- Capture patient panel -->
    <div class="generic-container col-md-6 col-md-offset-3" ng-show="capture">
        <div class="panel panel-default">
            <div class="panel-heading"><span class="lead">Capture Result</span></div>
            <div class="panel-body">
                <div class="formcontainer">
                    <div class="alert alert-success" role="alert" ng-if="successMessage">{{successMessage}}</div>
                    <div class="alert alert-danger" role="alert" ng-if="errorMessage">{{errorMessage}}</div>
                    <form ng-submit="capturePatient()" name="myForm" class="form-horizontal">
                        <div class="row">
                            <div class="form-group col-md-12">
                                <label class="col-md-4 control-lable" for="uname">Patient Name</label>
                                <div class="col-md-8">
                                    <input type="text" ng-model="patient.name" id="uname"
                                           class="username form-control input-sm" placeholder="Enter your name"
                                           required
                                           ng-minlength="3"/>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-12">
                                <label class="col-md-4 control-lable" for="surname">Patient Surname</label>
                                <div class="col-md-8">
                                    <input type="text" ng-model="patient.surname" id="surname"
                                           class="form-control input-sm" placeholder="Enter your surname" required
                                           ng-minlength="3"/>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-12">
                                <label class="col-md-4 control-lable" for="email">Patient Email</label>
                                <div class="col-md-8">
                                    <input type="email" ng-model="patient.email" id="email"
                                           class="form-control input-sm"
                                           placeholder="Enter your email" required/>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-12">
                                <label class="col-md-4 control-lable" for="height">Height (meters)</label>
                                <div class="col-md-8">
                                    <input type="number" ng-model="patient.height" id="height"
                                           class="form-control input-sm" placeholder="Enter your hieght" required
                                           step="0.01"/>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-12">
                                <label class="col-md-4 control-lable" for="weight">Weight (kg)</label>
                                <div class="col-md-8">
                                    <input type="number" ng-model="patient.weight" id="weight"
                                           class="form-control input-sm" placeholder="Enter your weight" required
                                           step="0.01"/>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-12">
                                <label class="col-md-4 control-lable" for="sblood">Systolic blood pressure</label>
                                <div class="col-md-8">
                                    <input type="number" ng-model="patient.systolicBloodPressure" id="sblood"
                                           class="form-control input-sm"
                                           placeholder="Enter your Systolic blood pressure" required
                                           step="0.01"/>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-12">
                                <label class="col-md-4 control-lable" for="blood">Diastolic blood pressure</label>
                                <div class="col-md-8">
                                    <input type="number" ng-model="patient.diastolicBloodPressure" id="blood"
                                           class="form-control input-sm"
                                           placeholder="Enter your Systolic blood pressure" required
                                           step="0.01"/>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-actions floatLeft">
                                <input type="submit" value="Save" class="btn btn-primary btn-sm">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--capture patient results panel end-->

    <!--View high risk patients panel-->
    <div class="generic-container col-md-6 col-md-offset-3" ng-show="highRisk">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading"><span class="lead">High Risk Patients</span></div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Surname</th>
                            <th>BMI</th>
                            <th>Systolic blood pressure</th>
                            <th>Diastolic blood pressure</th>
                            <th>Created By</th>
                            <th>Created On</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="h in highRiskPatients">
                            <td>{{h.name}}</td>
                            <td>{{h.surname}}</td>
                            <td>{{h.bmi}}</td>
                            <td>{{h.systolicBloodPressure}}</td>
                            <td>{{h.diastolicBloodPressure}}</td>
                            <td>{{h.createdOn}}</td>
                            <td>{{h.createdBy}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!--View high risk patients panel end-->
</div>
<!-- Including Scripts -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script type="text/javascript" src="app/app.js"></script>
</body>
</html>